<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
   <p>FirstName: <%=d.FirstName%></p>
   <p>LastName: <%=d.LastName%></p>
   <p>dob: <%=d.dob%></p>
   <!-- <p>gender: <%=d.gender%></p> -->
   <p>Email: <%=d.Email%></p>
   <p>Phoneno: <%=d.Phoneno%></p>
</body>
</html>