<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Name: <%=c.Name%></p>
    <p>Description: <%=c.Description%></p>
    <p>Price: <%=c.Price%></p>
    <p>Discount: <%=c.Discount%></p>
    <p>category: <%=c.category%></p>
</body>
</htm